<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @expert.name %>
</p>

<p>
  <strong>Personal website url:</strong>
  <%= @expert.personal_website_url %>
</p>

<p>
  <strong>Shortend url:</strong>
  <%= @expert.shortend_url %>
</p>

<p>
  <strong>Headings:</strong>
  <table>
    <% @headings.each do |heading| %>
      <tr>
        <td><%= heading.heading_type %></td>
        <td><%= heading.value %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_expert_path(@expert) %> |
<%= link_to 'Back', experts_path %>
